header {
    font-size: 80px ;
    display: flex;
    justify-content: center; 
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
 }

 section {
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Oswald", sans-serif;
}


h1 {
    font-size: 50px ;
    display: flex;
    justify-content: center; 
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
 }

p {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

ul {
    font-size: 25px;
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0px;
    background: linear-gradient(-45deg, #717af8, #3487f3, #55c1ec, #5d53b3, rgb(135, 76, 223));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    height: 50px;
    position: absolute;
    right: 400px;
    bottom: -1000px;
}

.logo2 {
    height: 300px;
    position: absolute;
    right: 300px;
    bottom: -900px;
}

